<html>
   <head>
      <title>Machine Learning Server Processing: Data Breakdown</title>
      <link rel="stylesheet" type="text/css" href="page.css">
   </head>

   <body>

    <h1>Description</h1>
        <p>This page will show the breakdown of the data. The program will try to analyze the uploaded data and determine the number of unique classifications.
            If there are no classifications, then clustering will be used to determine the number of possible classifications. In this case, there different forms of clustering will be used.
        </p>
    
    <h2>Results</h2>
        // TODO 
   </body>
</html>