<html>
   <head>
    <head> 
        <title>>Machine Learning Server Processing: Forecasting</title> 
        <link rel="stylesheet" type="text/css" href="page.css">
    </head> 


   <body>

    <h1>Description</h1>
    <p>This page will show the forecasting representation of the data. The program will try to analyze the uploaded data and forecast in the future on a variety of scales chosen by the user.
        If the data does not have a time component or exists beyond three dimensions, this feature will not work. This page will show the results of the data in 2 dimensions or 3 dimensions
    </p>

    <div id = "Forecasting Data 2D">
        <img src = "<%=config.ForecastingChart%>"/>
    </div>

    <form name="range_form"  action="http://127.0.0.1:5000/range_forecast" method="POST">
        Enter data in TextBox: <br>
        <input type="text" name="inputbox" value="">
        <input type="button" name="button" value="click" onclick="showData(this.form)">
    </form>

    <div id = navigation>   
        <h2>Navigation Bar</h2>
        <ul>
            <li><a href="/break-down">Break Down</a></li>
            <li><a href="/forecasting">Forecasting</a></li>
            <li><a href="/clustering">Clustering</a></li>
            <li><a href="/data-upload">Upload Data</a></li>
          </ul> 
    </div>         
   </body>
</html>