<html>
   <head>
      <title>Welcome to the Machine Learning Server Processing</title>
      <link rel="stylesheet" type="text/css" href="page.css">
   </head>

   <body>

    <h1>Description</h1>
        <p>In the world of big data, complex algorithms are required to process data and give meaningful output. 
        Often times, the model created are far too big to be deployed to the client side. 
        One solution for this is simply having the client interact with a page that calls a server that calls the model and sends the result. 
        This method has the added advantage that the model is secured away from the client, protecting the company's assets. 
        This demo program seeks to replicate this system through a NodeJS server and Python Flask microapp.
        The user will interact with the Node JS as if it were a simple applicatio and will send the user commands to the Flask Server and have python to conduct machine learning algorithms </p>
   
   
   
        <h2>Navigation</h2>
        <p>First the user goes to the "Uploading" Tab and uploads a csv with data. The user can then go to the other tabs and see the processed data.</p>
        <ul>
            <li><a href="/clustering">Clustering</a></li>
            <li><a href="/data-upload">Upload Data</a></li>
          </ul>   
   </body>
</html>